.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weather-info {
  height: auto;
  margin-top: 25px;
  margin-inline: 25px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(21, 20, 20, 0.144);
  font-weight:500;
}

.weather-info h2 {
  margin-top: 0;
  font-size: 2em;
 
}

.weather-current p,
.weather-details p {
  margin: 5px 0;
  font-size: 1.2em;
  color: #555;
}

.weather-details {
  margin-top: 15px;
}

.weekly-container{
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x:contain ;
  scroll-snap-type: x mandatory;
  height:50%;
  scrollbar-width: 0.5px;
  text-align: center;

}

.weekly-cards{
  scroll-snap-align: start;
  min-width: 300px;
  height: 90%;
 
  scrollbar-width: none;
 }
 